.idioma {
    color: #43b5c986;
    cursor: pointer;
    border-radius: 12px;
    background-color: #52a0ae00;
    border: solid 1px #52a0ae00; 
    transition: all .2s ease;
}
.active {
    color: #43B5C9;
    background-color: #52a0ae2f;
    border-radius: 12px;
}

.idioma:hover {
    color: #43b5c9c0;
    border: solid 1px #52a0ae2f; 
}